* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 小塚ゴシック Pr6N R;
    color: #f0454e;
    font-size: 48px;
}

h3 {
    font-family: 小塚ゴシック Pr6N R;
    color: #f0454e;

}

/*-----------------------header---------------------*/
header {
    height: 200px;
    /*background-color: #FFBD4C;*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header li {
    list-style-type: none;
    margin-left: 15px;
}

header li a {
    color: #f0454e;
    text-decoration: none;
    font-size: 16px;
}

.g-nav {
    display: flex;
}

.g-nav li {
    padding: 10px;
}

.header-nav {
    width: 77%;
}


@media screen and (max-width: 375px) {

}

/*------------------footer-------------------------*/
footer {
    height: 35px;
    background-color: #f0454e;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}

hr {
    height: 1px;
    border: none;
    border-top: 5px #f0454e solid;
}

.triangle_color {
    color: #f0454e;
}


/*-------------------small-about------------------*/
.small-about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    position: relative;
}

.small-about li a {
    color: #f0454e;
    text-decoration: none;
    margin-left: 50px;
}

.small-about-box {
    width: 77%;
    align-items: center;
}

.small-about-box p {
    line-height: 2.0;
}

.small-about-p {
    padding-top: 30px;
}

.small-about-box li {
    list-style-type: none;
}

.small-about-box nav {
    position: absolute;
    right: 200px;
    bottom: 30px;
}

.footer-nav {

}

.footer-nav-li {
    display: flex;

}

/*-----------------top button------------------*/
.pagetop {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 50px;
}

.pagetop p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: 小塚ゴシック Pr6N R;
}

.pagetop a {
    display: block;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    color: #f0454e;

}

.pagetop a:hover {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

/*------------------top_img-----------------------*/
.top-img {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-img img {
    width: 77%;
}


@media screen and (max-width: 375px) {
    .top-img img {
        width: 80%;

    }
}

/*------------------top_works-----------------------*/
.top-work-title {
    display: flex;
    justify-content: center;
}

.top-work-title h1 {
    margin-top: 100px;
}

.top-works {
    display: flex;
    justify-content: center;
    /*background-color: cadetblue;*/
    height: 1000px;
    align-items: center;
    flex-wrap: wrap;
}

.top-work-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 900px;
    width: 77%; /*width: 1080px;*/
}

.top-work-box {
    width: 30%;
}


/*------------------top_project--------------------*/
.top-project-title {
    display: flex;
    justify-content: center;
}

.top-project-title h1 {
    margin-top: 100px;
}

.top-project {
    /*background-color: darkolivegreen;*/
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-prolect-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    width: 77%; /*1080px;*/
}

.top-project-box {
    /*width: 500px;*/
    /*height: 300px;*/
}

.top-project-box img {
    max-width: 100%;
    height: 100%;
}

/*-----------------------company-page-----------------------------*/
h2 {
    font-size: 30px;
    line-height: 1.5;
}

.company-title {
    display: flex;
    justify-content: center;
}

.company-title h1 {
    margin-top: 80px;
}

.company-message-box {
    display: flex;
    justify-content: center;
}

.company-message {
    display: flex;
    justify-content: center;
    width: 880px;
    margin-top: 70px;
    margin-bottom: 90px;
}

.company-line {
    display: flex;
    justify-content: center;
}

.company-line-ditails {
    width: 880px;
    height: 1px;
    border: none;
    border-top: 2px #f0454e solid;
}

.company-overview-parent {
    display: flex;
    justify-content: center;
}

.company-overview-box {
    width: 880px;
    margin-left: 40px;

}

.overview {
    margin-top: 70px;
}

.company-overview {
    display: flex;
    margin-top: 30px;
    margin-bottom: 100px;
    line-height: 1.7;
}

.company-information-details {
    margin-left: 60px;
}


/*--------------------------------------WORK-----------------------------------*/

.work-title {
    display: flex;
    justify-content: center;
}

.pick-parent {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.pick-list {
    width: 77%;
    display: flex;
    justify-content: space-between;
}


.btn-flat-border {
    display: inline-block;
    width: 169px;
    height: 44px;
    text-decoration: none;
    color: #f0454e;
    border: solid 2px #f0454e;
    text-align: center;
    line-height: 44px;
    transition: .4s;
    font-size: 20px;
    margin-top: 90px;
    margin-right: 20px;
    letter-spacing: 2px;
}


.btn-flat-border:hover {
    background: #f0454e;
    color: white;
}

.category-parent {
    display: flex;
    justify-content: center;

}

.category-list {
    display: flex;
    justify-content: flex-start;
    width: 77%;
}

.works-list-parent {
    display: flex;
    justify-content: center;
    height: 1800px;
    align-items: center;
    flex-wrap: wrap;
}

.works-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 1800px;
    width: 77%; /*width: 1080px;*/
}

.works-box {
    width: 30%;
}

/*---------------------work-details--------------------------*/

.d-works-title {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.category-title {
    display: flex;
    justify-content: center;
}

.d-works-title h1 {
    color: black;
    font-size: 36px;
}

.d-work-top {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.d-work-message {
    display: flex;
    justify-content: center;
}

.d-work-message-box {
    width: 54%;
}

.d-work-gallery {
    display: flex;
    justify-content: center;
}

.gallery-img-list {
    flex-direction: column;
    width: 54%;
}

.gallery-img {
    margin-top: 50px;
}

.d-work-parent {
    display: flex;
    justify-content: center;
}

.d-work-line {
    width: 54%;
    height: 1px;
    border: none;
    border-top: 2px #f0454e solid;
}

.first-line {
    margin-top: 60px;
    margin-bottom: 30px;
}

.second-line {
    margin-top: 30px;
    margin-bottom: 60px;
}

.d-work-explanation-parent {
    display: flex;
    justify-content: center;
}

.d-work-explanation-box {
    display: flex;
    width: 54%;
    margin-left: 40px;
    /*line-height: 1.7;*/

}

.brock {
    width: 146px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    background-color: #f0454e;
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;

}

.brock2{
    height: 17px;
    line-height: 17px;
    font-size: 13px;
    margin-top: 20px;
}

.name{
    line-height: 17px;
}

.d-work-explanation-second {
    margin-left: 20px;
    font-size: 15px;
}

.back-button {
    display: inline-block;
    width: 169px;
    height: 44px;
    text-decoration: none;
    color: #f0454e;
    border: solid 2px #f0454e;
    text-align: center;
    line-height: 44px;
    transition: .4s;
    font-size: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    letter-spacing: 2px;
}


.back-button:hover {
    background: #f0454e;
    color: white;
}

.back-to-list-parent{
    display: flex;
    justify-content: center;
}

.d-work-related-parent{
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
    flex-wrap: wrap;
}

.d-work-related-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    width: 77%; /*width: 1080px;*/
}

.d-work-related-box{
    width: 30%;
}
